<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Define an appender for application logs to file -->
        <File name="AppFile" fileName="logs/application.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>

        <!-- Define an appender for application logs to console -->
        <Console name="AppConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger to log everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="AppFile" />
            <AppenderRef ref="AppConsole" />
        </Root>

        <!-- Exclude Extent Reports packages from being logged -->
        <Logger name="com.aventstack.extentreports" level="off" additivity="false">
            <AppenderRef ref="AppFile" />
        </Logger>
    </Loggers>
</Configuration>
